@import "tailwindcss";

#background-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/wallpaper-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #09090be5 20%, #09090baf 45%, transparent);
}
#background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #09090b 10%, transparent 60%);
}

#hero {
    position: relative;
    z-index: 1;
}
#menu{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.822);
    backdrop-filter: blur(2.5px);
}
.hamburger{
    cursor:pointer;
    width:24px;
    height:24px;
    transition:all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top:0;
    left:0;
    width:24px;
    height:2px;
    background-color: #ffffff;
}

.hamburger-middle{
    transform:  translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg) translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display:none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Scrolling animation section ----------- */
.imagePlaces{
    margin-inline:auto;
    position:relative;
    margin-bottom:20px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    )
}
.imagePlaces:hover .item{
    animation-play-state: paused;
}

@keyframes scrollHorizontal{
    to{
        left:-300px;
    }
}
.imagePlaces img{
    background-color: red;
    border-radius:5px;
    position:absolute;
    left:max(calc(350px * 7), 100%);
    animation: scrollHorizontal 15s linear infinite;
}
img.item{
    animation-delay:calc(15s / 7 *(7 - var(--item))*-1);
    /*  Duration (10s / 7 ( 7 items); 
        Delay (7 (7 items) - var(--item) (which items index is refered to);
        * - 1 (converts the number of the calculation into a nagtive number)
    */
}